.frames {
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding-left: 63px;
    padding-top: 50px;
}

.frames img {
    height: 100%;
    width: 100%;
}

h2 {
    color:white;
}

.spinner {
    justify-content: center;
    align-self: center;
    color: #054257;
    align-items: center;
    display: flex;
    justify-content: center;
}

.spinner mat-spinner {
    color: #054257;
}

p {
    color:white;
    margin-top: -5;
}

.inner-frames {
    background-color:#054257;
    width: auto;
    height: 30px;
    margin-top: -7px;
}

p {
    color:white;
}