.container {
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #054257;
    padding-right: 30px;
}

.container-log {
    width: 20%;
    max-width: 150px;
    min-width: 80px;
}

.logo {
    border-radius: 30px;
padding-left: 30px;
}

.logo img{
    width:100px;
    height: 100px;
    border-radius: 30px;
}

#search-music {
    width:125%;
    margin-right:20%;
    height: 25%; 
}

input {
    margin-left: 100px;
}

h1 {
    color: white;
}

.mat-typography{
    background-color: #054257;
}