.frames {
    width: 60%;
    height: 80%;
    padding: 2px;
    margin-top: 30px;
    margin-left: 20%;
    background-color: white;
}

.album-image {
    height: 100%;
    width: 80%;
}

.tracklist {
    float: right;
    height: 100%;
    width: 40%;
    margin-top: -54%;
}