<div class="frames">
    <div class="album-image">
        <div *ngIf="album">
            <h1>{{album.artist.name}}</h1>
            <img src="{{album.cover}}" width="64%" height="150%"/>
        </div>
    </div>
    <div class="tracklist">
        <div *ngFor="let track of albumTracks">
            <div class="inner-frames">
                <h3>{{track.title}}</h3>
            </div>
        </div>
    </div>
</div>