.frames {
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding-left: 100px;
    padding-top: 50px;
}

.frames img {
    height: 100%;
    width: 100%;
}