<div class="frame-container">
    <div *ngFor="let artist of artistInGenre" class="frames">
        <img src="{{artist.picture}}" (click)="artistNameimage(artist)" />
        <div class="inner-frames">
            <h2>{{artist.name}}</h2>
        </div>
    </div>
</div>